@model Staff;
@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <img src="https://img.freepik.com/premium-vector/eco-friendly-green-plant-logo_658271-8323.jpg?semt=ais_hybrid"
            alt="Logo" class="LogoImg">
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="LoginForm">
                <form asp-action="LoginCheck">
                    <!-- Email input -->
                    <div class="form-group" novalidate>
                        <label asp-for="@Model.Email" class="control-label">Email:</label>
                        <input name="@Model.Email" asp-for="@Model.Email" class="form-control" required />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        <div class="invalid-feedback">
                            Sorry, we can't find an account with this email. Please try again.
                        </div>
                    </div>
                    <!-- Password input -->
                    <div class="form-group">
                        <label asp-for="@Model.Password" class="control-label">Password:</label>
                        <input type="password" name="@Model.Password" asp-for="@Model.Password" class="form-control"
                            required />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        <div class="invalid-feedback">
                            Sorry, we can't find an account with this password. Please try again.
                        </div>
                    </div>
                    <!-- Submit button -->
                    <input type="submit" value="Sign in" class="btn btn-primary" />

                </form>
            </div>
        </div>
    </div>
</div>
