@model Plant;

@{
    ViewData["Title"] = "Add Plants";
}

<h2>Add a plant to the system</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Plant_Id" />
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label">Name:</label>
                <input name="Name" asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Family" class="control-label">Family:</label>
                <input name="Family" asp-for="@Model.Family" class="form-control" />
                <span asp-validation-for="@Model.Family" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add plant" class="btn btn-primary" />
                <a asp-controller="plant" asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>
<hr />
<div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}