@model Plant;

@{
    ViewData["Title"] = "Edit Plant";
}

<h2>@Model.Name's Details</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Plant_Id" />
            <div class="form-group">
                <label asp-for="@Model.NewName" class="control-label"></label>
                <input asp-for="@Model.NewName" class="form-control" />
                <span asp-validation-for="@Model.NewName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Family" class="control-label"></label>
                <input asp-for="@Model.Family" class="form-control" />
                <span asp-validation-for="@Model.Family" class="text-danger"></span>
            </div>
            <hr />
            <div>
                <input asp-action="EditResult" type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Plant" asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}