@model Staff;

@{
    ViewData["Title"] = "Delete Staff";
}

<h2>Remove @Model.Forename @Model.Surname from the system</h2>

<div>
    <hr />
    <div class="alert alert-danger">
        Are you sure you want to delete?
    </div>
    <dl class="container">
        <div class="col-md-6 agile_tv_series_grid_right">
            <p class="fexi_header"><span>Name: </span>@Model.Forename @Model.Surname</p>
            <p class="fexi_header_para"><span>@Html.DisplayNameFor(Model => Model.Email): </span> @Model.Email </p>
        </div>
    </dl>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="alert alert-danger">
            Retype the forename and surname to confirm.
        </div>
        <form asp-action="DeleteResult">
            <div class="form-group">
                <div>
                    <label asp-for="@Model.Forename" class="control-label"></label>
                    <input asp-for="@Model.Forename" class="form-control" />
                    <span asp-validation-for="@Model.Forename" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Surname" class="control-label"></label>
                    <input asp-for="@Model.Surname" class="form-control" />
                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                </div>
                <hr />
                <div>
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <a asp-controller="Staff" asp-action="Index" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>